* text=auto

# Preserve the known matching physical EOL for this MWCC-sensitive header.
include/Develop/Projects/SR2/pgm/src/Effect/FollowLine/FollowLine.hpp text eol=crlf

*.h linguist-language=C++
*.c linguist-language=C++
