# IDE
.idea/
.vs/
.vscode/

# Python caches
__pycache__/
.mypy_cache/
.cache/
*.pyc

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf

# Build files
build/
.ninja_*
build.ninja

# Splat
.splache

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
report.json
compile_commands.json

# ProDG compiler files
prodg*

# Miscellaneous
/*.txt
*.exe
*.o
*.map
*.MAP

## macOS
.DS_Store

## Linux
*.swp
*.d

## WSL
*:Zone.Identifier
